@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family:'Open Sans', sans-serif;
  background:#151837;
  width:90%;
  margin:0 auto;
  padding:2em 0 6em;
}
h1{
	color:#81b3d2;
	font-size:3em;
	font-family:Times;
	margin-bottom:20px;
}
.page-divider{
     width: 100%;
     border: 1px solid #d73444;
     height: 2px;
     margin-bottom:25px;
     background:#d73444;
}
.wrapper{
  margin:3em 0;
}
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size:2.5em;
}
a:hover{
	color:#d73444;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:2.5em;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square a:before{
  left:0;
  transition:0.25s all ease;
}
.square a:after{
  right:0;
  transition:0.25s all ease;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover a:before,.square:hover a:after{
  width:100%;
}

.form-style,.result-style{
    max-width:400px;
    margin:5px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.result-style{
	margin-bottom:25px;
}
.form-style h2,.result-style h2{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
        font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style ul,.result-style ul {
    list-style:none;
    padding:0;
    margin:0;   
}
.form-style li,.result-style li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-style li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form-style li > label,.result-style li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style textarea,
.form-style select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style input[type="password"]:focus,
.form-style textarea:focus,
.form-style select:focus 
{
}
.form-style li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form-style .errors{
	color: #ff0000;
	padding: 3px;
	font-style: bold;
}
.form-style textarea{
    resize:none;
}
.form-style input[type="submit"],
.form-style input[type="button"],
.result-style input[type="submit"]{
    background: #151837;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    color: #81b3d2;
    margin-left:15px;
    margin-right:15px;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover,
.result-style input[type="submit"]:hover{
/*     background: #6B9FFF; */
    color:#d73444;
    border:2px #d73444 solid;
}

.page-wrapper{
	text-align:center;
}

.result-style li > p{
	 background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #151837;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.result-style ul .split {
	width: 40%;
}
.result-style ul .align-right{
	float:right;
}
.result-style ul .align-left{
	float:left;
}
.clear{
	clear:both;
}
}